body{
	background-color: #f4f4f4;
	color: #555;
	font-family: Arial;
	font-size:16px;
	line-height: 1.6em;
	margin: 0; 
}

.container{
	width:85%;
	margin:auto;
	overflow:hidden;
}
 
#main-header{
	background-color:#c38a42;
	color:#f4f4f4;
}
#navbar{
	background-color:#142b33;
	color:#fff;


}
#navbar ul{
	padding:0;
	list-style:none; 

	
}
#navbar li{
	display:inline;
	
}
#navbar a{
	color:#fff;
	text-decoration:none;
	font-size:18px;
	padding-right:50px;
}

#showcase{
	background-image:url('imgs/33.jpg'); 
	margin-bottom:30px;
	text-align:center;

	
}
#showcase{
	color:#fff;
	font-size:50px;
	line-height:1.6em;
	padding-top:30px;
}

#main{
	float:left;
	width:50%;
	padding:0 30px;
	box-sizing:border-box;
}
main h1{
	font-size:200px;
	font-weight:50;
}
#sidebar{
	float:right;
	width:40%;
	height:615px;
	background: #333;
	color:#fff;
	box-sizing:border-box;
	

}
#main-footer{
	background:#333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

#sidebar input[type="SUBMIT"]{
     background-color:#FF4500;
     color:#fff;
     padding:10px 15px;
     border:none;
     margin-left: 150px;
     margin-bottom: 10px;
     }

#sidebar label{
	display:block;
}
 #sidebar form{
 	padding:25px;

 }
#sidebar input[type="text"]{
	width:90%;
	height:20px;
    }
#sidebar select[name="gender"]{
    width:90%;
	height:30px;
    }
#sidebar input[values="e-mail"]{
	width:90%;
	height:20px;
    } 
#sidebar input[type="number"]{
	width:90%;
	height:20px;
    } 
    #sidebar input[type="date"]{
	width:90%;
	height:20px;
    } 

    #sidebar h2{
	padding:7px;
    }  





@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}
	#sidebar{
		width:100%;
		float:none;
		
	}
}

